body {
    background-color: #EEEEEE;
}

td em {
    background-color: #fff2a8;
    font-weight: bold;
    color: #333;
}

#search-engine-wrapper {
    margin-top:50px;
    padding:10px;
    background: #FFFFFF;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
}

#search-types {
    padding-top: 10px
}

#podcasts-topics {
    display: none;
}

/* Custom search */
.custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input{
    border: 0;
    box-shadow: none;
}

.custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.custom-search-input .glyphicon-search{
    font-size: 23px;
}